
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

@media screen and (max-width: 500px){
  #teamImageDiv h2{
    display:none;
  }
}

#homePageTitle{
  margin-top: 5em;

  .text-info  {
    font-weight: bold;
  }
}
.carousel {
  margin-top: 5em;
}


.carousel-inner img {
  height: 40em;
  opacity: 0.8;
  object-fit: contain;


}


blockquote{
    border-left:none;
    padding: 5px;
}

.quote-box{
  display: inline;
  overflow: hidden;
  margin-top: -50px;
  padding-top: -100px;
  border-radius: 17px;
  margin-top: 25px;
  color:white;
  width: 325px;
}

.quotation-mark{
  margin-top: -10px;
  font-weight: bold;
  font-size:100px;
  color:white;
  font-family: "Times New Roman", Georgia, Serif;
}
.quote-text{
  font-size: 19px;
  margin-top: -65px;
}

#jamal{
  display: block;
  max-width: 60%;
  height: auto;
  border-radius: 17px;
  border: 2px solid #2B3E50;
  padding: none;
}

#logoHeader{
  margin-bottom: 2em;
}
#partnership{
  color: $orange;
  border: 2px solid #2B3E50;
  margin: 0.5em;
  border-radius: 17px;

}
.list-group {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  li {
  Width: 8em;
  height: 6em;

    img{
      object-fit: stretch;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      padding: 1em;
      border: none;
    }
  }
}

// -------teamnjk CSS

#teamImageDiv {
  margin-left: auto;
  margin-right: auto;
  #teamBanner{
    opacity: 0.5;
    width: 100%;
  }
  h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $orange;
    font-weight: bold;
    font-style: italic;
  }
}

.ourTeam{
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.card{
  max-width: 30em;
  border-radius: 17px;
  margin: 2em;
  .card-header{
    border-radius: 17px;
    background-color: $orange;
    color: #2B3E50;
    margin: 1em;
    font-weight: bold;
  }
}


// ----contact page css

.contactForm{

}
.googleMap {
  iframe{
    max-width: 100%;
    width: 50em;
    height: 30em;
  }
}

.parallax {
  background-image: url("/_shared/img/Portland.jpg");
  height: 250px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
