{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<div id="teamImageDiv" class="container">
    <img id="teamBanner" src="/_shared/img/Team/TeamImage.jpeg" alt="banner of team for team presentation">
    <h2 >Come meet our worker bees</h2>
</div>
<div class="container teamDiv">
  <div class="row justify-content-center">
    <div class="card border-primary m-3 col-12">
      <div class="card-header">Innovation team</div>
      <div class="card-body">
        <h4 class="card-title">Founder</h4>
        <h5>Valerian McAlister</h5>
        <p class="card-text">Valerian has always had a clear goal: disrupt the status-quo.
           Through several business ventures, he has acquired the experience needed to finally soar as as self-made businessman.
           Innovation is his baby, and it shows. Innovation's growth and vision come from the seed he so skillfully sowed.
           </p>
           <img class="img-fluid ourTeam" src="/_shared/img/Team/Vadim.jpeg" alt="Founder image">
      </div>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="card border-primary mb-3 col-12 col-md-6">
      <div class="card-header">Innovation team</div>
      <div class="card-body">
        <h4 class="card-title">UX Designer</h4>
        <h5>Philippa Suzuki</h5>
        <p class="card-text"> UX is paradoxically both the cherry on the cake and the backbone of our process.
          We could only fill this important role with a gem. A rough stone, creatively unbound by rules and processes.
          Philippa is a free spirit, an anarchist and a methodist. She feeds on these contradictions and uses them masterfully in her craft.
           </p>
           <img class="img-fluid ourTeam" src="/_shared/img/Team/Pauline.jpeg" alt="UX designer image">
      </div>
    </div>

    <div class="card border-primary mb-3 col-12 col-md-6">
      <div class="card-header">Innovation team</div>
      <div class="card-body">
        <h4 class="card-title">Data Science and Analysis</h4>
        <h5>Jericho Von Vinhem</h5>
        <p class="card-text"> Jericho is the latest addition to Innovation's star-studded roaster. He craves knowledge.
          After an MBA in philosophy, Jericho started teaching in the rough slums of Bogotta. After 3 years of charity work, he went back to school
          to study computer science. This is the kind of profile that thrives in Innovation's environment.
          A keen interest in data science made us certain he would fit right in.
           </p>
           <img class="img-fluid ourTeam" src="/_shared/img/Team/Julien.jpeg" alt="UX designer image">
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="card border-primary mb-3 col-12 col-md-6">
      <div class="card-header">Innovation team</div>
      <div class="card-body">
        <h4 class="card-title">Digital Marketing</h4>
        <h5>Michel-Jacques Dubuisson</h5>
        <p class="card-text"> How good is your product if nobody knows it? Thankfully, Innovation never had to answer that specific question.
          Through diligent work and careful planning, Michel-Jacques (MJ for his friends) has made our product not only renowned in the field, but also synonymous with durability and luxury.
           </p>
           <img class="img-fluid ourTeam" src="/_shared/img/Team/Mathieu.jpeg" alt="UX designer image">
      </div>
    </div>
    <div class="card border-primary mb-3 col-12 col-md-6">
        <div class="card-header">Innovation team</div>
        <div class="card-body">
          <h4 class="card-title">Web Designer</h4>
          <h5>Joachim Viquerez</h5>
          <p class="card-text"> Joachim is the hero we don't deserve. His work is beyond reproach and his work ethic made him a real superstar in the already glamorous field of web development.
            Some say he only stops working when he's satisfied with a product, and let me tell you , that is a pretty hard line to cross for him!
             </p>
             <img class="img-fluid ourTeam" src="/_shared/img/Team/Joé.jpeg" alt="UX designer image">
        </div>
    </div>
  </div>
</div>

{% endblock %}
